.about-us-header {
  text-align: center;
  position: relative;
  h2 {
    width: auto;
    height: 200px;
    font-size: 60px;
    font-family: $font-cursive;
    color: $grey;
    text-shadow: $font-shadow-grey;
    line-height: 200px;
  }
  &::after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    content: "";
    width: 400px;
    height: 400px;
    box-shadow: 0 0 3px 3px $white;
  }
}
.about-us-picture {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/img1scaled.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .about-us-wrapper {
    width: 80%;
    height: 80%;
    // background-color: $pink;
    box-shadow: $box-shadow;
  }
}

.about-us {
  width: 100vw;
  height: 150vh;
  margin: 50px 0;

  .container {
    height: 150vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f8f4f2;

    border: 2px solid rgb(218, 207, 198);
    .flex-wrap-container {
      width: 45%;
      height: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;

      .frame {
        width: 100%;
        height: 45%;
        border: 2px solid rgb(218, 207, 198);
        padding: 20px;
        background-color: #fff;
        .square {
          border: 2px solid rgb(218, 207, 198);
        }
        .photo-first {
          width: 100%;
          height: 100%;
          background-position: center -20px;
          background-size: cover;
          background-image: url(../images/about1scaled.jpg);
        }
        .photo-second {
          width: 100%;
          height: 100%;
          background-position: center;
          background-size: cover;
          background-image: url(../images/men.jpg);
        }
      }
      .text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 45%;
        padding: 20px;
        border: 2px solid rgb(218, 207, 198);
        h2 {
          font-size: 50px;
          text-align: center;
          font-family: $font-cursive;
        }
        p {
          text-align: center;
          font-size: 1.5rem;
          // line-height: 40px;
          padding: 20px;
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 720px;
  }
  .about-us-header {
    h2 {
      font-size: 50px;
    }
    &::after {
      width: 300px;
      height: 300px;
    }
  }
  .about-us-picture {
    background-position: center;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .about-us-header {
    h2 {
      font-size: 50px;
    }
    &::after {
      width: 300px;
      height: 300px;
    }
  }
  .about-us {
    height: 180vh;
    .container {
      height: 180vh;
      border: none;
      flex-direction: column;
      .flex-wrap-container {
        width: 90%;
        .frame {
          margin: 0 5px;
          .photo-first {
            background-position: center 0;
          }
        }
        .text-container {
          padding: 10px;
          h2 {
            margin: 10px;
            font-size: 27px;
          }
          p {
            font-size: 1.4rem;
            padding: 8px;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .container {
    max-width: none;
    padding: 0 15px;
  }
  .about-us-header {
    h2 {
      font-size: 40px;
    }
    &::after {
      width: 200px;
      height: 200px;
    }
  }
  .about-us {
    height: 150vh;
    .container {
      height: 150vh;
      flex-direction: column;
      border: none;
      .flex-wrap-container {
        width: 100%;
        .frame {
          .photo-first {
            background-position: center -70px;
          }
        }
        .text-container {
          padding: 10px;
          h2 {
            margin: 10px;
            font-size: 27px;
          }
          p {
            font-size: 1.4rem;
            padding: 8px;
          }
        }
      }
    }
  }
}
