.offers {
  position: relative;
  background-image: url(../images/logoscaled.png);
  background-size: cover;
  background-color: $pink;

  .float-text {
    font-family: $font-cursive;
    font-size: 10rem;
    color: $primary-color;
    position: absolute;
    top: 300px;
    right: 300px;
    z-index: 1;
    transform: rotate(-2deg);
    color: $grey;
    text-shadow: 1px 1px rgb(85, 84, 84);
  }

  h1 {
    font-family: $font-cursive;
    font-size: 4rem;
    text-align: center;
    padding: 100px 0;
    color: darken($primary-color, 10%);

    // background-color: #fff;
    z-index: 1;
    // background-image: url(../images/logo3.jpg);
    background-size: cover;
  }

  .text {
    width: auto;
    height: 170px;
    position: absolute;
    bottom: 139px;
    right: 153px;
    transform: rotate(-2deg);
    z-index: 1;
    span {
      display: inline-block;
      height: 200px;
      font-size: 230px;
      font-family: $font-cursive;
      color: $grey;
      text-shadow: 1px 1px rgb(85, 84, 84);
    }
  }
  .wrap {
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    .hover-text {
      font-family: $font-secondary;
      display: block;
      width: 100%;
      height: 100%;
      font-size: 20px;
      text-transform: uppercase;
      color: transparent;
      background-color: transparent;
      text-align: center;
      line-height: 500px;
      transition: 0.2s linear background-color;
      cursor: pointer;
      &:hover {
        background-color: rgba(255, 255, 255, 0.459);
        color: black;
      }
      a {
        display: inline-block;
        width: 100%;
        height: 100%;
        font-size: 20px;
        color: transparent;
        &:hover {
          color: black;
        }
      }
    }

    .services {
      flex-basis: 30%;
      height: 500px;
      background-image: url(../images/ringsscaled.jpg);
      background-size: cover;
      position: relative;

      .button-one {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -10%);
      }
    }
    .portfolio {
      flex-basis: 30%;
      height: 500px;
      background-image: url(../images/tree.jpg);
      background-size: cover;
      position: relative;
      .button-two {
        text-align: center;
        line-height: 50px;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -10%);
      }
    }
    .advice {
      flex-basis: 30%;
      height: 500px;
      background-image: url(../images/lady.scaled.jpg);
      background-size: cover;
      position: relative;
      .button-three {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -10%);
        transition: 0.3s linear;
      }
    }
    .primary-button {
      display: none;
      @include primary-button;

      &:hover {
        background-color: rgb(85, 84, 84);
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
  .offers {
    background-color: $pink;
    .text {
      bottom: 220px;
      right: 74px;
      height: 100px;
      span {
        height: 100px;
      }
    }
    .wrap {
      .hover-text {
        display: none;
      }
      span {
        font-size: 170px;
      }

      .primary-button {
        display: block;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 720px;
  }
  .offers {
    background-image: none;
    background-color: $pink;
    height: 1900px;
    .float-text {
      display: none;
    }
    .text {
      display: none;
    }
    .wrap {
      .hover-text {
        display: none;
      }
      .primary-button {
        display: block;
      }
      .services {
        flex-basis: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
        background-position: center -370px;
      }
      .portfolio {
        flex-basis: 100%;
        margin-bottom: 30px;
        background-position: center -550px;
      }
      .advice {
        flex-basis: 100%;
        margin-bottom: 30px;
        background-position: center -300px;
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .container {
    max-width: 540px;
  }
  .offers {
    background-image: none;
    background-color: $pink;
    height: 1900px;
    .float-text {
      display: none;
    }

    .text {
      display: none;
    }
    h1 {
      font-size: 2.7rem;
      padding: 100px 20px;
    }

    .wrap {
      .hover-text {
        display: none;
      }
      .primary-button {
        display: block;
      }
      .services {
        flex-basis: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
        background-position: center -220px;
      }
      .portfolio {
        flex-basis: 100%;
        margin-bottom: 30px;
        background-position: center -220px;
      }
      .advice {
        flex-basis: 100%;
        margin-bottom: 30px;
        background-position: center -230px;
      }
    }
  }
}

@media (max-width: 576px) {
  .container {
    max-width: none;
    padding: 0 15px;
  }
  .offers {
    background-image: none;
    height: 1900px;
    background-color: $pink;
    .float-text {
      display: none;
    }
    h1 {
      font-size: 2.7rem;
      padding: 100px 20px;
    }
    .text {
      display: none;
    }
    .wrap {
      justify-content: space-evenly;
      align-items: center;
      .hover-text {
        display: none;
      }
      .primary-button {
        display: block;
      }
      .services {
        flex-basis: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
        background-position: center -100px;
      }
      .portfolio {
        flex-basis: 100%;
        margin-bottom: 30px;
        background-position: center -130px;
      }
      .advice {
        flex-basis: 100%;
        margin-bottom: 30px;
        background-position: center -100px;
      }
    }
  }
}
