//fonts
$font-logo: "Dancing Script", cursive;
$main-font: "Open Sans Condensed", sans-serif;

// font-shadow
$font-shadow: 0px 1px $white;

//colors
$primary-color: rgb(87, 106, 118);
$secondary-color: rgb(58, 153, 209);
$dark-font: #2c353b;
$white: rgb(219, 219, 219);
